{% extends 'core/base.html' %}
{% block content %}
{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert 
           {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" 
           role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<h2>{{ object.title }}</h2>
<p><small>Source: <a href="{{ object.source_url }}">{{ object.source_url }}</a></small></p>
<hr>
<pre style="white-space:pre-wrap">{{ object.content }}</pre>
{% endblock %}
